<div id="image-placeholder" class="text-center">
	<img src="http://via.placeholder.com/150x150" class="rounded-circle" alt="Sample image">
	<p> {{ user.name}}<p>
</div>
<div class="menu">
	<div><i class="fa fa-plus" aria-hidden="true"></i>NEUE RECHNUNG</div>
	<div><i class="fa fa-euro" aria-hidden="true"></i>RECHNUNGEN</div>
	<div><i class="fa fa-pie-chart" aria-hidden="true"></i>DASHBOARD</div>
	<div><i class="fa fa-barcode" aria-hidden="true"></i>PRODUKTE</div>
	<div><i class="fa fa-user" aria-hidden="true"></i>KUNDEN</div>
</div>
<div id="saldo-info-wrapper">
	<h4> SALDO </h4>
	<h4> &euro; <span style="padding-left: 5px">{{ saldo }}</span></h4>
	<h5> GESENDET: &euro; <span style="padding-left: 5px">{{ gesendet }}</span></h5>
	<h5> UBERFALLIG: &euro; <span style="padding-left: 5px">{{ uberfallig }}</span></h5>
</div>
