#saldo-info-wrapper {
	background-color: #3FBFB5;
	min-height: 150px;
	padding: 20px;
	color: white;
}
#image-placeholder {
	margin-top: 20px;
}
#image-placeholder p {
	color: white;
}
#saldo-info-wrapper > h5, h4, h3 {
	padding: 5px;
}
.menu > div {
	padding: 20px;
	background-color: #A3A5A8;
	color: white;
}
.menu i {
	margin-right: 20px;
}