<h1 id="dashboard" class="text-right">DASHBOARD</h1>
<div id="saldo-text"><h1 style="padding-left:20px"> SALDO: <strong> &euro; <span style="padding-left: 5px">{{ saldo }}</span> </strong></h1></div>
<div class="col-12" style="height:500px">
<ngx-charts-pie-grid
      [scheme]="pieColorScheme"
      [results]="metricsColors">
</ngx-charts-pie-grid>
</div>
<div class="col-12" style="height:500px">
	 <ngx-charts-bar-vertical
	      [scheme]="colorScheme"
	      [results]="metricsYears"
	      [gradient]="gradient"
	      [xAxis]="true"
	      [yAxis]="true"
	      [legend]="showLegend"
	      [showXAxisLabel]="true"
	      [showYAxisLabel]="true"
	      [xAxisLabel]="Year"
	      [yAxisLabel]="Percentage"
	      (select)="onSelect($event)">
	</ngx-charts-bar-vertical>
</div>
