#left-column {
	background-color: #808285;
	min-height: 100%;
  padding: 0;
}
.footer {
	  min-height: 300px;
}
.footer .row {
    background-color: #5F6062;
    color: white;
}
.footer > div > div > h4 {
    padding: 20px 0px 0px 20px;
}
.footer > div > div > ul > li {
    background-color: transparent;
    border: none;
}
.social-icons {
    position: absolute;
    bottom: 10px;
    padding-left: 20px;
    color: #3FBFB5;
}
.social-icons > i {
    padding-right: 10px;
}
.footer-right-column {
    position: absolute;
    right: 5px;
    bottom: 10px;
    margin-bottom: 0;
}
