<div class="container">
  <div class="row" *ngIf="user">
    <div id="left-column" class="col-4 col-sm-4 col-md-4 col-lg-4">
      <app-left-column [user]= 'user'></app-left-column>
    </div>
    <div class="col-8 col-sm-8 col-md-8 col-lg-8 " style="padding-top:11.29%; padding-left:0">
      		<app-main [user]= 'user'></app-main>
    </div>
  </div>
</div>
<div class="container footer">
		<div class="row"> 
		<div class="col-3">
			<h4>PRODUCTE</h4>
			<ul class="list-group">
				<li class="list-group-item">Buchhaltung</li>
				<li class="list-group-item">Fakturierung</li>
				<li class="list-group-item">Rechnungsstellung</li>
				<li class="list-group-item">auf iPhone und Android</li>
				<li class="list-group-item">Kredite</li>
				<li class="list-group-item">Einnahmen</li>
			</ul>
		</div>
		<div class="col-3">
			<h4>ÜBER UNS</h4>
			<ul class="list-group">
				<li class="list-group-item">Über uns</li>
				<li class="list-group-item">Triff das Team</li>
				<li class="list-group-item">Karriere</li>
				<li class="list-group-item">FAQs</li>
				<li class="list-group-item">Finden Sie einen</li>
				<li class="list-group-item">Buchhalter</li>
			</ul>
		</div>
		<div class="col-3">
			<h4>KONTAKTIERE UNS</h4>
			<ul class="list-group">
				<li class="list-group-item">Unterstützung</li>
				<li class="list-group-item">Kontaktiere uns</li>
			</ul>
      <div class="social-icons">
          <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
          <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
          <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
      </div>
    </div>
		<div class="col-3">
        <p class="footer-right-column">Copyright © 2017 xxx Alle Rechte vorbehalten.<br>
            Datenschutzerklärung Nutzungsbedingungen Sicherheit</p>
    </div>
	</div>
</div>
